<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>ControlConnexion</servlet-name>
    <servlet-class>Servlets.ControlConnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlConnexion</servlet-name>
    <url-pattern>/con</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AgentAdmin</servlet-name>
    <servlet-class>Servlets.ControlAfficheDemande</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AgentAdmin</servlet-name>
    <url-pattern>/agent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InscriptionClient</servlet-name>
    <servlet-class>Servlets.ControleurInscriptionClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionClient</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InternauteDevis</servlet-name>
    <servlet-class>Servlets.ControlDemandeInternaute</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InternauteDevis</servlet-name>
    <url-pattern>/internaute</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InscriptionOuvrier</servlet-name>
    <servlet-class>Servlets.ControleurInscriptionOuvrier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InscriptionOuvrier</servlet-name>
    <url-pattern>/inscription_ouvrier</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>S_technique</servlet-name>
    <servlet-class>Servlets.ControlConnexionS_technique</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>S_technique</servlet-name>
    <url-pattern>/con2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthClient</servlet-name>
    <servlet-class>Servlets.ControlAuthClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthClient</servlet-name>
    <url-pattern>/con_client</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>iden</web-resource-name>
      <url-pattern>/agent</url-pattern>
      <url-pattern>/page_service_technique.jsp</url-pattern>
      <url-pattern>/page_service_marketing.jsp</url-pattern>
      <url-pattern>/page_service_marketing.jsp</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>users-systeme</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Authentification</realm-name>
  </login-config>
</web-app>